body {
  font-family: 'Roboto', sans-serif;
  background-color: #5E95D2;
}

main strong {
  color: #42a4bd;
}

.navDiv {
  height: 30em !important;
  background-image: url('../img/banner.png');
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;        
}

.navBack {
  background-color: rgba(0, 0, 0, 0.5);
}

.logoClass {
  width: 300px;
  height: auto;
}

.bannerText1 {
  color: #42a4bd;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 5em;
}
.bannerText1strong{
  color: #E3F2FD;;
}

.tallerCards {
  min-height: 13em !important;
  min-width: 13em !important;
}

.fixedCards {
  max-height: 13em !important;
  max-width: 13em !important
}

.shiftUp {
  position: relative;
  top: -4em;
}

.whiteBackground {
  background-color: white;
}
